#macro(feedItem $feed)
<tr>
<div id="tableViewCell5" class="tableViewCell">
  <td></td>
  <td>
    <div class="starBox">
        <div class="titleRow">
             ${feed.getJSONObject("_source").appname}
        </div>
    </div>
  </td>
    <td>
        <div class="starBox">
            <div class="titleRow">
                 $feed.getJSONObject("_source").apptype
            </div>
        </div>
      </td>

      <td>
          <div class="starBox">
              <div class="titleRow">
                   $feed.getJSONObject("_source").logtype
              </div>
          </div>
        </td>
        <td>
            <div class="starBox">
                <div class="titleRow">
                     $feed.getJSONObject("_source").url
                </div>
            </div>
          </td>
             <td>
                      <div class="starBox">
                          <div class="titleRow">
                               $feed.getJSONObject("_source").key
                          </div>
                      </div>
                    </td>
                      <td>
                                          <div class="starBox">
                                              <div class="titleRow">
                                                   $feed.getJSONObject("_source").path
                                              </div>
                                          </div>
                                        </td>
          <td>
              <div class="starBox">
                  <div class="titleRow">
                       <a href="/resthunter/delete?id=$feed.getString("_id")">删除</a>
                  </div>
                  <div><a href="#">编辑</a></div>
              </div>
            </td>

    <div class="clear">&nbsp;</div>
</div>
</tr>
#end