<form class="form-horizontal" action="/resthunter/create" method="POST">
    <fieldset>

        <!-- Form Name -->
        <legend>创建</legend>

        #parse("/rest/common/partital/create_feed_field.vm")
        #create_feed_field("url" "url" "")
        #create_feed_field("应用名" "appname" "")
        #create_feed_field("应用类型" "apptype" "")
        #create_feed_field("数据源类型" "logtype" "")
        #create_feed_field("指标名称" "key" "")
        #create_feed_field("指标路径" "path" "")

        <div class="control-group">

            <div class="controls">
                <button id="button1id" name="submit" class="btn btn-success">提交</button>
            </div>
        </div>

    </fieldset>
</form>